:root {
    --text-color: rgb(108, 179, 238); /* global text color var */
}


* {
    
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
}

body{
    /* Use flex box to vertically center objects in body */
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* min-height: 100vh; */
    background-color: rgb(255, 255, 255); /* Background color of page */

}

/* I have bug, suspecting its from having another css file
Nav bar does not have proper spacing from top without
directly styling in other css */
.topnav {
    margin-top: 8px;
}

/* Style for Contact Me! header */
.contact h3 {
    font-size: 40px;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 10px;
}

/* Adjust the size of the contact form */
.contact form {
    width: 600px;
    text-align: center;

}

/* Space between each input box of the form */
form .input-box {
    display: flex;
    justify-content: space-between;
}

/* Width of the input boxes  */
.input-box .input-field {
    width: 48.5%;
}

/* Style for each individual box in the form */
.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid rgb(108, 179, 238);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: var(--text-color);
    margin: 12px 0;
}

/* Border color for when a form box is left blank/error */
.field.error .item {
    border-color: rgb(206, 17, 17);
}

/* Style for place holder  */
.field .item::placeholder {
    color: rgba(97, 96, 96, 0.815);
}

/* Style for error text  */
.field .error-txt {
    font-size: 14.5px;
    color: red;
    text-align: left;
    margin: -5px 0 10px;
    display: none; /* Should not display unless there is an error */
}

/* Display error text when error occurs */
.field.error .error-txt {
    display: block;
}

/* Prevent text area from being resized by user*/
form .textarea-field .item {
    resize: none;
}

/* Form button style */
form button {
    padding: 12px 32px;
    background: salmon;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: none;
    font-size: 16px;
    color: gray;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    transition: .25s;
}

/* Hover over the button to give a box shadow effect  */
form button:hover {
    transition: .5s;
    box-shadow: 0 0 10px rgb(240, 113, 99);

}



form .textarea-field .error-txt {
    margin-top: -10px;


}

/* .formContainer {
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 160, 238);
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;

}

form h3{
    color: grey;
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 30px;

}

form input, form textarea{

    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background-color: rgb(223, 220, 220);
    font-size: 16px;

}

form button{
    padding: 15px;
    background-color: salmon;
    color: white;
    font-size: 18px;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 150px;
    margin: 20px auto 0;
    border-radius: 30px;
} */